body {
  background-color: grey;
}
#notranjaTabela{
  background-color: white;
  font-family: 'Chilanka', cursive;
  color: black;
  padding: 5px;
  -webkit-box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.75);
box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.75);
}
.beli-text{
  color: white;
}

.rumeno-ozadje{
    padding: 10px;
    background-color: #b7e61c;
}

a{
  margin: 10px;
  border-radius: 200px 0px 200px 0px;
                -moz-border-radius: 200px 0px 200px 0px;
                -webkit-border-radius: 200px 0px 200px 0px;
                -webkit-box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75);

}
img{
  margin-top:20px;
}
